@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap");

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    560deg,
    #ae9bf2,
    #341c8c,
    #673cbf,
    #341c8c,
    #673cbf
  );
  background-repeat: no-repeat;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

